@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap");

.upcomingBlock {
  height: 370px;
  width: 956px !important;
  background-color: transparent;
  border-radius: 20px;
  margin-inline: auto;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}

.upcomingName {
  text-align: center;
  margin-top: 10px;
}

.travelFormBlock {
  height: 400px;
}

.listOfTravels {
  height: 275px;
  width: 95%;
  background-color: transparent;
  border-radius: 20px;
  margin-inline: auto;
  margin-top: 20px;
  overflow: auto;
  text-align: center;
}
.listOfTravels > * > div {
  padding: 10px;
  border-bottom: 1px black solid;
  margin-bottom: 20px;
}

.backgroundTravelHistory {
  background: #ececea;
}

.defaultText {
  text-align: center;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  position: relative;
  z-index: 1;
}

.pictureBg {
  position: absolute;
  width: 1047px;
  height: 676px;
}

.fontStyleTravel {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.status-container {
  border: 1px solid black;
  padding: 10px;
}

.status-content {
  margin-top: 10px;
}

.pdfLink {
  text-decoration: none;
}
