@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap");

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.circles div {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(75, 215, 159, 0.5);
  bottom: -150px;
  animation: animate 25s linear infinite;
}

.circles div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles div:nth-child(2) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles div:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles div:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles div:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles div:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 45s;
}
.circles div:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.background {
  background: rgb(204, 228, 208);
  background: linear-gradient(
    -39deg,
    rgba(204, 228, 208, 1) 32%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 1) 53%,
    rgba(204, 228, 208, 1) 65%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.upperNavbar {
  width: 100%;
  height: 85px;
}

.rowDirection {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  height: 111px;
  align-items: center;
}

.labelName {
  font-size: 33px;
  margin-inline: 10px;
  font-family: "Phudu", cursive;
}

.containerWelcome {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.buttonAppearance {
  height: 40px;
  width: 170px;
  border: 1px grey solid;
  border-radius: 50px;
  background-color: transparent;
  margin-inline: 10px;
}

.buttonsRow {
  align-items: center;
  display: flex;
  margin-right: 30px;
}

.buttonsRow button {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  cursor: pointer;
}

.rowBottom {
  display: flex;
  flex-direction: row;
}

.mainTextStyling {
  text-align: center;
  position: relative;
  top: 99px;
  right: 149px;
  z-index: 1;
}

h5,
h2 {
  font-family: "Raleway", sans-serif;
  margin: 0;
  letter-spacing: 1px;
}

h5 {
  color: rgb(0, 200, 198);
  font-size: 29px;
}

h2 {
  font-size: 55px;
  color: rgb(60, 60, 60);
  margin-top: 7px;
}

p {
  color: rgb(60, 60, 60);
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}

.mainTextStyling button {
  height: 66px;
  width: 262px;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 50px;
  background: rgb(0, 241, 145);
  background: linear-gradient(
    126deg,
    rgba(0, 241, 145, 1) 27%,
    rgba(0, 200, 198, 1) 75%
  );
  font-size: 20px;
  cursor: pointer;
  /* animation-name: example;
  animation-duration: 5s; */
}

/* @keyframes example {
  from {
    background: rgb(0, 241, 145);
    background: linear-gradient(
      126deg,
      rgba(0, 241, 145, 1) 27%,
      rgba(0, 200, 198, 1) 75%
    );
  }
  to {
    background: rgb(0, 241, 145);
    background: linear-gradient(
      -126deg,
      rgba(0, 241, 145, 1) 27%,
      rgba(0, 200, 198, 1) 75%
    );
  }
} */

.mainTextStyling button:hover {
  border: 2px black solid;
}

.buttonsRow button:hover {
  border: 2px black solid;
}

/* background: rgb(0,241,145);
background: linear-gradient(307deg, rgba(0,241,145,1) 27%, rgba(0,200,198,1) 75%); */
