@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.background {
  background: rgb(140, 217, 153);
  background: linear-gradient(
    -39deg,
    rgba(140, 217, 153, 1) 24%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 1) 53%,
    rgba(140, 217, 153, 1) 74%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.upperNavbar {
  width: 100%;
  height: 123px;
}

.rowDirection {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  height: 111px;
  align-items: center;
}

.labelName {
  font-size: 40px;
  margin-inline: 10px;
  font-family: "Phudu", cursive;
}

.containerWelcome {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.buttonAppearance {
  height: 40px;
  width: 170px;
  border: 1px grey solid;
  border-radius: 50px;
  background-color: transparent;
  margin-inline: 10px;
}

.buttonsRow {
  align-items: center;
  display: flex;
  margin-right: 30px;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
}
