@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap");

.loading {
  margin-inline: auto;
  margin-top: 200px;
}

.loadingText {
  font-size: 40px;
  color: #36d7b7;
  font-family: "Raleway", sans-serif;
  position: relative;
  left: 50%;
  transform: translateX(-57px);
  top: 25px;
}
