@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");

.loading {
  margin-inline: auto;
  margin-top: 200px;
}

.loadingText {
  font-size: 40px;
  color: #36d7b7;
  font-family: "Raleway", sans-serif;
  position: relative;
  left: 50%;
  transform: translateX(-57px);
  top: 25px;
}

.background {
  background: rgb(204, 228, 208);
  background: linear-gradient(
    -39deg,
    rgba(204, 228, 208, 1) 32%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 1) 53%,
    rgba(204, 228, 208, 1) 65%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: appear 2s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rowDirection {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  height: 111px;
  align-items: center;
}

.backButton {
  border: none;
  background-color: transparent;
  margin-inline: 54px;
  cursor: pointer;
}

h3 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}

.labelName {
  font-size: 33px;
  margin-inline: 10px;
  font-family: "Phudu", cursive;
}
